body{

	background-image: url("http://phi-education.com/app/images/bg-2.jpg");
	background-color: rgba(6,158,188,o.6);
	background-position: absolute;
	width: auto;
	height: auto;
	right:0;
	left:0;
	top: 0;
	bottom: 0;
	background-size: 100%;
	font-family: sans-serif;

}
.image_back{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height:100%;
	width:100%;
	opacity: 0.5;
	background-color: rgba();
}
.logo{
    
    width: 150px;
    height:50px;

}

ul>li{
	top:0;
	display: inline;
	list-style: none;
	padding: 5px;
	margin: 10px;
	

}
.h_logo{
	margin:20px 10px 10px 20px;
}
.login_details{
	float:right;
}
li>a{
	text-decoration: none;
	color: white;
	font-size: 15px;
	right: 0;

}